/* --------Boilermaker Styles --------------------------------------------------- */
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.left-side-bar {
  width: 300px;
}
/* -------------------------------------------------------------------- */

/* ---------------- Styling Homepage/Links ------------------------*/
.custom-center-align {
  text-align: center !important;
}
.custom-align-left {
  text-align: left !important;
}

.link-styling {
  text-decoration: none !important;
  font-family: Arial, Helvetica, sans-serif !important;
  color: black !important;
}

.link-styling-quick-info {
  text-decoration: none !important;
  color: white;
}

.currentLink {
  color: #640200;
  background-color: #000000;
}

*/ .myNavLink a {
  margin: 10px;
}

.routeContent {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 60px;
}

.nav {
  width: 100%;
}

.channel-image {
  max-height: 50% !important;
  max-width: 50% !important;
}

.favorite-channel-sidebar-button2 {
  font-size: 7pt !important;
  color: lightgray;
}

.favorite-channel-sidebar-button {
  font-size: 10pt !important;
  color: lightgray;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------- message form -------------------------------------------------------------------- */

#new-message-form {
  position: relative;
}

#new-message-form .form-control {
  border-width: 3px 1.5px 3px 3px;
}

#new-message-form.btn {
  border-width: 3px;
}

.media-list {
  flex: 1 1 auto;
}
.text-shadow {
  text-shadow: 5px 5px 10px black !important;
}
.background-color-discover {
  margin: 0;
  overflow: hidden;
  height: 100%;
}
/* ----------------------------------------------------------------------------------------------------------------------- */

/*------------------------------------------------------------------------------------- player  ---------------------------------------------------*/
i.fa {
  cursor: pointer;
  font-size: 2em;
  transition: color 0.2s ease;
}

i.fa:hover {
  color: #00aa00;
}

#player-container {
  height: 100%;
  width: 75%;
}

#player-controls {
  height: 100%;
}

#player-controls > div {
  height: 100%;
  align-items: center;
}

#player-controls i {
  font-size: 2em;
  padding: 0 0.5em;
}

#player-controls i:nth-child(2) {
  font-size: 3em;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.player-track-info-text-header {
  font-size: 150% !important;
}

.player-track-info-text {
  font-size: 100% !important;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
