body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.left-side-bar {
  width: 300px;
}

.custom-center-align {
  text-align: center !important;
}
.custom-align-left {
  text-align: left !important;
}

.link-styling {
  text-decoration: none !important;
  color: black;
}

.link-styling-quick-info {
  text-decoration: none !important;
  color: black;
}

.currentLink {
  color: #640200;
  background-color: #000000;
}

a:hover {
  color: wheat;
}
.myNavLink a {
  margin: 10px;
}

.routeContent {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 60px;
}

.nav {
  width: 100%;
}

.channel-image {
  max-height: 50% !important;
  max-width: 50% !important;
}
